<!--
    <div class="row">
          <% for(i=0, i < count, i++) { %>
        <div class="col-md-3 col-sm-6"> 
            <div class="pagination">
              <a class="nav-link" href='"/product/<%= products[i]._id %>"'><img class="img-thumbnail" src="<%= products[i].img %>"> </a> 
            </div>
        </div>
        <% } %> -->
     <!--   <div class="col-md-3 col-sm-6"> 
            <div class="pagination">
                <a class="nav-link" href='"/product/<%=product[i]._id %>"'><img class="img-thumbnail" src="img/banana3.jpg"> </a>
            </div>
        </div> -->
    </div>